h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

body > section {
    width: 800px;
    max-width: 80%;
}

body > section ul {
    padding-left: 0;
}


.bird {
    margin: 15px 0;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color:rgb(235, 219, 249);

}
.bird > * {
    /* margin: 0px 30px; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sighting {
    display: flex;
    justify-content: space-between;
}

.sighting > * {
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
}