/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap'); */

h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

body > section {
    width: 950px;
    max-width: 80%;
}

body > section ul {
    padding-left: 0;
}


.bird {
    margin: 15px 0;
    padding: 20px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    background-color:rgb(235, 219, 249);

}

.bird section {
    flex-basis: 20%;
}

.bird img {
    width: 200px;
    border-radius: 13px;
}

.bird > * {
    /* margin: 0px 30px; */
}

.order,.family,.genus,.species {
    padding: 18px 5px;
    margin: 18px 5px;
    list-style-type: none;
    border-radius: 13px;
}

.order {
    background-color: #B4A7C5;
}

.family {
    background-color: #C2C4D8;
}

.genus {
    background-color: #D9E6EA;
}

.species {
    background-color: #FFFFFF;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sighting {
    display: flex;
    justify-content: space-between;
}

.sighting > img {
    max-width:40%;
}