@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

.order,
.family,
.genus,
.species {
  padding: 18px 8px 8px;
  margin: 18px 8px 8px;
  list-style-type: none;
  border-radius: 13px;
}

.order>span,
.family>span,
.genus>span,
.species>span {
  font-size: 18px;
  margin-left: 12px;
}

.order {
  background-color: #B4A7C5;
}

.family {
  background-color: #C2C4D8;
}

.genus {
  background-color: #D9E6EA;
}

.species {
  background-color: #FFFFFF;
  padding: 10px;
  text-emphasis-color: #eaf1f3;
}

body {
  margin: 0;
  font-family: Roboto Slab, 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.unexpanded,
.expanded {
  /* transition: max-height 1s ease-in; */
}

.unexpanded {
  height: 330px;
  overflow: hidden;
  cursor: pointer;
}

.expanded {
  height: auto;
}




.filter-tag {
  display: flex;
  align-items: center;
    height: '45px';
    background-color: aquamarine;
    margin: 7px 15px;
    padding: 5px 5px 5px 0;
}